attached_assets/Quranic-Linguistic-Explorer_(1)_1777784618372.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/Quranic-Linguistic-Explorer_(1)_1777798338545.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/Quranic-Linguistic-Explorer_(1)_1777798643395.zip filter=lfs diff=lfs merge=lfs -text
